#weather-forecast {
    box-shadow: none !important;
}
#weather-forecast > div {
    min-width: 70px;
    border: 1px solid rgb(63, 58, 58);
    border-radius: 0;
    flex-grow: 1;
    flex-basis: 0;
}
#weather-forecast-inner {
    padding: 4px 2px;
    color: rgb(218, 218, 218);
}
#weather-forecast-inner > h5 {
    font: bold 15px 'Trebuchet MS';
    text-shadow: 0px 1px 0 rgb(159, 161, 165);
}
#weather-forecast-inner > h6 {
    margin-top: -15px;
    font-size: 10px;
    text-shadow: 0px 1px 0 rgb(114, 127, 153);
}
#weather-forecast-inner > img {
    width: 64px;
    height: 64px;
    margin-top: -13px;
}
#weather-forecast-inner > h4 {
    margin-top: -11px;
    font: bold 21px 'Trebuchet MS';
    color: rgb(223, 215, 193);
    text-shadow: 0px 2px 0 rgb(95, 69, 29);
}
#weather-forecast-inner > p {
    margin-top: -2px;
    margin-bottom: 4px;
    font: 10px 'Consolas';
    text-shadow: 0px 1px 0 rgb(40, 42, 49);
}
#day-5-btn {
    margin-right: 0 !important;
    margin-bottom: 0 !important;
}