#weather-current {
    background-color: rgb(46, 53, 66);
    display: none;
}

#parent {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#tmp {
    text-align: center;
}

#dayInf {
    text-align: right;
}
